# [SDEncrypt]For enable SD Card Encryption
on init
    setprop ro.ssbd.session /dev/block/platform/msm_sdcc.1/by-name/eksst
    setprop ro.ssbd.offset 0

# 2014.10.14 [jinyoungharry.kim@lge.com] LGIMS ipsec solution [START]
service ipsecclient /system/bin/ipsecclient
    class main
    group system net_admin net_raw
    disabled

service ipsecstarter /system/bin/ipsecstarter
    class main
    user system
    group system net_admin net_raw
# 2014.10.14 [jinyoungharry.kim@lge.com] LGIMS ipsec solution [END]

on boot
    # support device diagnostic management
    chmod 0440 /proc/cmdline
    chown system system /proc/cmdline

    lge_chcon_recursive /data/property u:object_r:property_data_file:s0
    lge_chcon_recursive /data/security u:object_r:security_file:s0
    start chcon_keystore

on fs
    mkdir /cust 0771 system system
    wait /dev/block/platform/msm_sdcc.1/by-name/cust
    exec /system/bin/e2fsck -y /dev/block/platform/msm_sdcc.1/by-name/cust
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/cust /cust rw nosuid nodev barrier=1 noauto_da_alloc
    restorecon_recursive /cust
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/cust /cust ro remount nosuid nodev barrier=1 noauto_da_alloc

on init
exec /sbin/setup_fs_static \
    /dev/block/platform/msm_sdcc.1/by-name/cust \
    no_reboot

# charger_monitor service for chargerlogo
service charger_monitor /system/bin/charger_monitor
   user system
   group system
   disabled

# LG RCT(Rooting Check Tool)
service rctd /system/bin/rctd
    class late_start
    user root
    group root

# SW IrRC
on boot
chown media media /dev/msm_IRRC_pcm_dec
chmod 0660 /dev/msm_IRRC_pcm_dec

service chcon_keystore /system/bin/sh /system/etc/init.jag3gds_chcon_keystore.sh
    disabled
    oneshot
    seclabel u:r:keystore:s0

# SW IrRC
service irrcServer /system/bin/irrcServer
   class main
   user media
   group media
   onrestart restart irrcServer
