# This file is imported by init.{ro.hardware}.rc

# to override this file (device specific .rc)
import /init.${ro.hardware}_core.rc
#LG_UPDATE_START :  move to init.zetaw.bt_vendor.rc to seperate vendor's resource 20140106, [START]
import /init.zetaw.bt_vendor.rc
#LG_UPDATE_END :  20140106, [END]

# FM Framework
import /init.fm_vendor.rc

on init
    # Mount pstore file system on /mnt/pstore
    # mkdir /mnt/pstore 660 system system
    # mount pstore /mnt/pstore /mnt/pstore

    # Set permissions for persist partition
    mkdir /persist 0771 system system
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage 0751 system sdcard_r
    mkdir /storage/emulated 0555 root root
    mkdir /storage/emulated/legacy 0555 root root
    mkdir /mnt/media_rw 0700 media_rw media_rw
    mkdir /mnt/media_rw/external_SD 0700 media_rw media_rw
    mkdir /storage/external_SD 0700 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EXTERNAL_ADD_STORAGE /storage/external_SD
    export SECONDARY_STORAGE /storage/external_SD
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

on fs
    exec /system/bin/tune2fs -u system -r 10240 /dev/block/bootdevice/by-name/userdata

    mkdir /sns 0755 system system
    mkdir /persist-lg 0755 system system
    mkdir /mpt 0755 system system

    wait /dev/block/bootdevice/by-name/sns
    exec /system/bin/e2fsck -y /dev/block/bootdevice/by-name/sns
    mount ext4 /dev/block/bootdevice/by-name/sns /sns nosuid nodev barrier=1 noatime noauto_da_alloc errors=continue

    wait /dev/block/bootdevice/by-name/drm
    exec /system/bin/e2fsck -y /dev/block/bootdevice/by-name/drm
    mount ext4 /dev/block/bootdevice/by-name/drm /persist-lg nosuid nodev barrier=1 noatime noauto_da_alloc errors=continue

    wait /dev/block/bootdevice/by-name/mpt
    exec /system/bin/e2fsck -y /dev/block/bootdevice/by-name/mpt
    mount ext4 /dev/block/bootdevice/by-name/mpt /mpt nodev nosuid barrier=1 noatime noauto_da_alloc errors=continue

    restorecon_recursive /sns
    restorecon_recursive /persist-lg
    restorecon_recursive /mpt
    restorecon_check_recursive /sns
    restorecon_check_recursive /persist-lg
    restorecon_check_recursive /mpt
    restorecon_recursive /persist

on post-fs
    # execute sreadahead daemon to reduce boot-time
    start sreadahead

    # ramoops backup function start service
    start ramoops_backup

# execute sreadahead daemon to reduce boot-time
service sreadahead /sbin/treadahead
    oneshot
    disabled
    seclabel u:r:sreadahead:s0

# make a diecision whether sreadahead would be performed or not
service sreadahead-check /sbin/sreadahead_check
    class main
    user root
    group root
    oneshot
    seclabel u:r:sreadahead-check:s0

# ramoops backup function service
service ramoops_backup /system/bin/sh /system/etc/ramoops_backup.sh
    class main
    disabled
    oneshot

# write eventlog for boot animation end
service write_event_log /system/bin/write_event_log 55000
    user system
    group system
    disabled
    oneshot

on property:init.svc.bootanim=stopped
    start write_event_log
## lge_change_s, p1-fs@lge.com, 2014-10-14, fuse for external_SD
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_external_SD /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/external_SD /storage/external_SD
    class late_start
	disabled

on boot
#LG_UPDATE_START :  move to init.zetaw.bt_vendor.rc to seperate vendor's resource 20140106, [START]
#    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
#    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
#    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
#    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwake
#    chown bluetooth net_bt_stack /proc/bluetooth/sleep/proto
#   chown bluetooth bluetooth /sys/module/hci_uart/parameters/ath_lpm
#   chown bluetooth bluetooth /sys/module/hci_uart/parameters/ath_btwrite
#   chown system system /sys/module/sco/parameters/disable_esco
#   chown bluetooth bluetooth /sys/module/hci_smd/parameters/hcismd_set
#   chmod 0660 /sys/module/bluetooth_power/parameters/power
#   chmod 0660 /sys/module/hci_smd/parameters/hcismd_set
#    chmod 0660 /sys/class/rfkill/rfkill0/state
#    chmod 0660 /proc/bluetooth/sleep/proto
#    chmod 0660 /proc/bluetooth/sleep/btwake
#    chown bluetooth net_bt_stack /dev/ttyHS99
#   chmod 0660 /sys/module/hci_uart/parameters/ath_lpm
#   chmod 0660 /sys/module/hci_uart/parameters/ath_btwrite
#    chmod 0660 /dev/ttyHS99
#   chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
#   chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

#   chmod 0660 /dev/ttyHS2
#   chown bluetooth bluetooth /dev/ttyHS2
#LG_UPDATE_END :  20140106, [END]

# e7wifi/e8wifi/e10wifi model does not use exfat.
# I recommend that you add the following path:
# android/device/lge/[TARGET_PRODUCT]/init.[TARGET_PRODUCT]_core.rc
#    insmod /system/lib/modules/texfat.ko

#Touch_LPWG
    chmod 664 /sys/devices/virtual/input/lge_touch/touch_gesture
    chown system system /sys/devices/virtual/input/lge_touch/touch_gesture
    chmod 664 /sys/devices/virtual/input/lge_touch/knock_on_type
    chown system system /sys/devices/virtual/input/lge_touch/knock_on_type
    chmod 664 /sys/devices/virtual/input/lge_touch/global_access_pixel
    chown system system /sys/devices/virtual/input/lge_touch/global_access_pixel
    chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_data
    chown system system /sys/devices/virtual/input/lge_touch/lpwg_data
    chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_notify
    chown system system /sys/devices/virtual/input/lge_touch/lpwg_notify
    chmod 664 /sys/devices/virtual/input/lge_touch/incoming_call
    chown system system /sys/devices/virtual/input/lge_touch/incoming_call
    chmod 664 /sys/devices/virtual/input/lge_touch/lockscreen
    chown system system /sys/devices/virtual/input/lge_touch/lockscreen
    chmod 664 /sys/devices/virtual/input/lge_touch/ime_status
    chown system system /sys/devices/virtual/input/lge_touch/ime_status
    chmod 664 /sys/devices/virtual/input/lge_touch/keyguard
    chown system system /sys/devices/virtual/input/lge_touch/keyguard

service atd /system/bin/atd /dev/ttyGS0 /dev/hsic0
    socket atd stream 0660 system inet
    class main

service mtsd /system/bin/mtsd
    class late_start
    oneshot
    socket mtsd.port stream 660 system system

# TestMode Daemon for broadcom driver
service diagd /system/bin/diagd
    class late_start
    user root
    group radio system
    disabled
    oneshot
    socket lsock_diagd stream 666

on property:wifi_ftm.diagd_start=1
    start diagd

on property:wifi_ftm.diagd_start=0
    stop diagd

on property:persist.sys.emmc_size=0
    start set_emmc_size

on property:persist.sys.emmc_size=8GB
    setprop ro.device.memory.system 0
    setprop ro.device.memory.internal 8

on property:persist.sys.emmc_size=16GB
    setprop ro.device.memory.system 0
    setprop ro.device.memory.internal 16

on property:persist.sys.emmc_size=32GB
    setprop ro.device.memory.system 0
    setprop ro.device.memory.internal 32

# Workaround for copying the updated firmware
on property:wlan.chip.vendor="qcom"
    rm /data/misc/wifi/WCNSS_qcom_cfg.ini
    rm /data/misc/wifi/WCNSS_qcom_wlan_nv.bin

service set_emmc_size /system/bin/sh /set_emmc_size.sh
    class main
        user root
        group media_rw system sdcard_rw
        disabled
    oneshot

on post-fs-data
    chown system system /mpt
    chmod 0775 /mpt
    start last_kmsg_backup

service last_kmsg_backup /system/bin/sh /system/etc/last_kmsg_backup.sh
    class main
    disabled
    oneshot

on property:service.keyguard.status=0
    write /sys/devices/virtual/input/lge_touch/lockscreen 0
on property:service.keyguard.status=1
    write /sys/devices/virtual/input/lge_touch/lockscreen 1
on property:service.keyguard.status=2
    write /sys/devices/virtual/input/lge_touch/lockscreen 1

service lge-sensor-sh /system/bin/sh /init.zetaw.sensor.sh
    class main
    user root
    oneshot

on property:vold.post_fs_data_done=1
    start lge-sensor-sh
